/** ADS **=====================================================================================
===================================================================================================**/
iframe[id*='google_ads'], #ads, .ads {
   	max-width: 100% !important;
}
.AdSense .widget-content {
    overflow: hidden;
    padding-top: 10px;
}