/****Carousel ****=====================================================================================
===================================================================================================**/
.region-inner.footer-inner {
	background: #FFF;
}
.overflow-wrapper{
    width: 1000%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.slide img{
    height: 100%;
    float: left;
}
#slider-wrapper{
    width: 100%;
    height: 200px;
    margin: 0px auto 10px auto;
    position: relative;
    margin-bottom: 0px;
    background: rgba(0,0,0,0.5);
    overflow: hidden;
}
.inner-wrapper {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0px;
    overflow: hidden;
}
#HTML8 h2.title, #HTML9 h2.title  {
    text-align: center;
    background: #656E7F;
    color: #FFF !important;
    text-shadow: 0px 1px 1px #000;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0 0px 0;
}
#HTML8 {
    border-left: 4px solid #EEEDEE;
    margin: -7px 0 -21px -12px;
    padding: 5px 0 12px 15px;
}
#HTML9 {
    border-right: 4px solid #EEEDEE;
    margin: -7px -12px -21px 0px;
    padding: 5px 15px 12px 0px;
}
/**1-4/25-33 book, 5-24 diary**/
#s1, #s2, #s3, #s4, #s5, #s6, #s7, #s8, #s9, #s10, #s11, #s12, #s13, #s14, #s15,
#s16, #s17, #s18, #s19, #s20, #s21, #s22, #s23, #s24, #s25, #s26, #s27, #s28, #s29,
#s30, #s31, #s32, #s33, #s34 {
    padding: 6px;
    background: #BEE7ED;
    position: absolute;
    left: 100px;
    bottom: 25px;
    opacity: 1.3;
    cursor: pointer;
    z-index: 999;
}
#s1, #s5 { margin-left: -36px;}
#s2, #s6 { margin-left: -12px;}
#s3, #s7 { margin-left: 12px;}
#s4, #s8 { margin-left: 36px;}
#s9, #s10 { margin-left: 60px;}
#s11, #s12 { margin-left: 84px;}
#s13, #s14 { margin-left: 108px;}
#s15, #s16 { margin-left: 132px;}
#s17, #s18 { margin-left: 156px;}
#s19, #s20 { margin-left: 180px;}
#s21, #s22 { margin-left: 204px;}
#s23, #s24 { margin-left: 228px;}
#s25, #s26 { margin-left: 253px;}
#s27, #s28 { margin-left: 277px;}
#s29, #s30 { margin-left: 301px;}
#s31, #s32 { margin-left: 325px;}
#s33, #s34 { margin-left: 350px;}

#Slide5:checked ~ .overflow-wrapper, #Slide1:checked ~ .overflow-wrapper { margin-left: 0%; }
#Slide2:checked ~ .overflow-wrapper{ margin-left: -80%; }
#Slide3:checked ~ .overflow-wrapper{ margin-left: -167%; }
#Slide4:checked ~ .overflow-wrapper{ margin-left: -231%; }
#Slide9:checked ~ .overflow-wrapper { margin-left: -329%; }
#Slide11:checked ~ .overflow-wrapper { margin-left: -411%; }
#Slide13:checked ~ .overflow-wrapper { margin-left: -600%; }

#Slide6:checked ~ .overflow-wrapper { margin-left: -90%; }
#Slide7:checked ~ .overflow-wrapper { margin-left: -166%; }
#Slide8:checked ~ .overflow-wrapper { margin-left: -241%; }
#Slide10:checked ~ .overflow-wrapper{ margin-left: -301%; }
#Slide12:checked ~ .overflow-wrapper { margin-left: -394%; }
#Slide14:checked ~ .overflow-wrapper{ margin-left: -492%; }
#Slide15:checked ~ .overflow-wrapper, #Slide16:checked ~ .overflow-wrapper{ margin-left: -608%; }
#Slide17:checked ~ .overflow-wrapper, #Slide18:checked ~ .overflow-wrapper{ margin-left: -682%; }
#Slide19:checked ~ .overflow-wrapper, #Slide20:checked ~ .overflow-wrapper{ margin-left: -795%; }
#Slide21:checked ~ .overflow-wrapper, #Slide22:checked ~ .overflow-wrapper{ margin-left: -868%; }
#Slide23:checked ~ .overflow-wrapper, #Slide24:checked ~ .overflow-wrapper{ margin-left: -873%; }
#Slide25:checked ~ .overflow-wrapper, #Slide26:checked ~ .overflow-wrapper{ margin-left: -1200%; }
#Slide27:checked ~ .overflow-wrapper, #Slide28:checked ~ .overflow-wrapper{ margin-left: -1300%; }
#Slide29:checked ~ .overflow-wrapper, #Slide30:checked ~ .overflow-wrapper{ margin-left: -1400%; }
#Slide31:checked ~ .overflow-wrapper, #Slide32:checked ~ .overflow-wrapper{ margin-left: -1500%; }
#Slide33:checked ~ .overflow-wrapper, #Slide34:checked ~ .overflow-wrapper{ margin-left: -1600%; }

#Slide1:checked + #s1, #Slide2:checked + #s2, #Slide3:checked + #s3, #Slide4:checked + #s4,
#Slide5:checked + #s5, #Slide6:checked + #s6, #Slide7:checked + #s7, #Slide8:checked + #s8,
#Slide9:checked + #s9, #Slide10:checked + #s10, #Slide11:checked + #s11, #Slide12:checked + #s12,
#Slide13:checked + #s13, #Slide14:checked + #s14, #Slide15:checked + #s15, #Slide16:checked + #s16,
#Slide17:checked + #s17, #Slide18:checked + #s18, #Slide19:checked + #s19, #Slide20:checked + #s20,
#Slide21:checked + #s21, #Slide22:checked + #s22, #Slide23:checked + #s23, #Slide24:checked + #s24,
#Slide25:checked + #s25, #Slide26:checked + #s26, #Slide27:checked + #s27, #Slide28:checked + #s28,
#Slide29:checked + #s29, #Slide30:checked + #s30, #Slide31:checked + #s32, #Slide33:checked + #s34,
 
#s1:hover, #s2:hover, #s3:hover, #s4:hover, #s5:hover, #s6:hover, #s7:hover, #s8:hover,
#s9:hover, #s10:hover, #s11:hover, #s12:hover, #s13:hover, #s14:hover, #s15:hover, #s16:hover,
#s17:hover, #s18:hover, #s19:hover, #s20:hover, #s21:hover, #s22:hover, #s23:hover, #s24:hover,
#s25:hover, #s26:hover, #s27:hover, #s28:hover, #s29:hover, #s30:hover, #s31:hover, #s32:hover,
#s33:hover, #s34:hover { opacity: .5;}

 .control{ display: none;}

/***END Carousel****=====================================================================================
===================================================================================================**/