/**defaults=====================================================================================
===================================================================================================**/
.clear { clear: both;}
.fixed { position: fixed;}
.feed-links, .post-comment-link,
.bg-0only, .bg-1only, .bg-2only, .bg-3only { display: none; }
/***fonts***=====================================================================================
===================================================================================================**/
a:visited,  a:link, a {
	text-decoration: none;
	color: #2c9ab7;
}
a:focus, a:hover {
 	text-decoration: underline;
  	color: #195760 !important;
}
p {
	margin: 5px 0 10px;
}
/**site title**=====================================================================================
===================================================================================================**/
.Header h1 a, .Header h1 {
    color: #04476c !important;
}
.Header h1:before {    
	text-align: center;
    text-align: center;
    margin-top: -35px;
    font-weight: 900 !important;
    font-size: 8rem !important;
    color: rgb(8, 68, 106) !important;
    opacity: .4;
    content: '</>';
    position: absolute;
    margin-left: 35px;
}
h1 {
	margin: 10px 0;
}
h2, .entry-content h2, .entry-content h2 span {
	margin: 10px 0;
}
h2 span, h2 {
    color: #000;
}
h3.post-title:hover, h3.post-title a:hover {
	color: #BEE7ED !important;
}
h3, h3.post-title, h3.post-title a, h3.post-title span, h3.post-title a span {
	line-height: 1.5em !important;
	max-width: 555px !important;
	font-style: italic;
	text-transform: Capitalize;
	margin: 0;
}
h5 {
	margin: 5px 0;
}
/***sidebar***=====================================================================================
===================================================================================================**/
aside {
	margin: 10px 0;
}
/***main content***/
.row {
	padding-bottom: 2rem;
    padding-top: 2rem;
}
/***lists***=====================================================================================
===================================================================================================**/
.hentry ol, .hentry ul {
	padding: 0 20px;
}
.blog-posts.hfeed {
    min-height: 600px;
}
.entry-content img, .blog-posts img {
    max-width: 100% !important;
}
.post a, .post a:hover {
    box-shadow: inset 0 -4px 0 #BEE7ED;
 }
.tabs-inner .widget li a, .popular-posts .item-content::before, div.small p {
	font: normal bold 7.5pt sans-serif, Arial, Tahoma, Helvetica, FreeSans !important;
	text-transform: uppercase;
}
span.post-labels {
    color: #FFF !important;
	float: left;
	padding: 0 10px;
	text-align: left;
}
.BlogArchive #ArchiveList ul.posts li {
    padding-left: 20px;
    border-bottom: 1px solid #EEEDEE;
    border-left: 5px solid rgba(101, 110, 127, 0.34);
    width: 100%;
    margin-left: -15px;
    overflow: hidden;
    box-shadow: 0 1px 1px #F0F1F3;
}
.collapsed a.toggle span.zippy:before {
	content: 'view posts';
}
.timeline b {
    background: rgba(58, 183, 191, 0.34);
}
span.zippy.toggle-open {
	color: #C4C7C6;

	&:before {
	    content: 'close';
	    color: #4C4848 !important;
	}
}
label:hover{
	opacity:0.8;
}
.archivedate span.zippy {
    background: #F0F1F3;
    border: 1px solid #E5E2E5;
    border-radius: 2px;
    padding: 2px 0 0 3px;
    margin-right: 5px;
}
li h3.post-title, li h3.post-title a {
    letter-spacing: .5px !important;
}
a, button, input:focus, input[type='button'], input[type='reset'], 
input[type='submit'], textarea:focus, .button {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.primarybutton {
	width: 300px !important;
	
	.lined {
		background: #E85C41 !important; 
	}
	.lined a, a, .lined a:link, a:link {
	 	color: #fff !important;
	}
}
.button-wrapper {
	display:flex;
    flex-direction:row;
    justify-content:center;
    width:100%;
    min-height:100%;
    z-index: 2;

	a, a:hover {
		box-shadow: 0 0 0 0 transparent;
	}
	button, div.lined-thin {
		align-self:center;
	    background:transparent;
	    padding:1rem 1rem;
	    margin:0 1rem;
	    transition:all .5s ease;
	    color:#41403E;
	    font-size:2rem;
	    letter-spacing:1px;
	    outline:none;
	    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
	    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	    border-top-left-radius: 255px 15px;
	    border-top-right-radius: 15px 225px;
	    border-bottom-right-radius: 225px 15px;
	    border-bottom-left-radius:15px 255px;
	}
	button:hover {
		box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
	} 
	button.lined.thick{
	    border:solid 7px #41403E;
	}
	button.dotted.thick{
	    border:dotted 5px #41403E;
	}
	button.dashed.thick{
	    border:dashed 5px #41403E;
	}
	button.lined.thin, div.lined-thin{
	    border:solid 2px #41403E !important;
	}
	button.dotted.thin{
	    border:dotted 2px #41403E;
	}
	button.dashed.thin{
	    border:dashed 2px #41403E;
	}
}
button, a.button {
	background: #f5f5f5;
    padding: 15px;
    margin: 0 auto;
    border: 1px solid #2a2c2f;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    font-weight: bold;
	box-shadow: 0px 3px 2px #CCC;
	-webkit-transition: all .7s ease;
    transition: all .7s ease;
	-webkit-appearance: button;
}
button a, button a:hover {
	box-shadow: none !important;
}
button, a.button, button a,
a:link.button, button a:link,
a:active.button, button a:active,
a.button:hover, button a:hover  {
	text-decoration: none !important;
	margin: 5px !important;
	color: #000 !important;
}
a.button:hover, button a:hover, button:hover {
	color: #000 !important;
}
a.button:hover:before, button a:hover:before,
 a.button:hover:after, button a:hover:after  {
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
    width: 100%;
}
a.button.small {
    padding: 5px 0px !important;
}
.btn {
	background: #fff;
	border: 1px solid #BEE7ED;
    margin: -3px 0 0 0;
}
/**Search button**=====================================================================================
===================================================================================================**/
#abt-search-btn {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    border-radius: 0 0 0 0;
    color: #000;
    padding: 1rem !important;
    text-transform: uppercase;
}
input#abt-search-btn:hover {
    cursor: pointer;
}
#abt-search-box {
    border: 1px solid #d2d2d2;
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 1rem;
	margin: 0px auto;
	width: 100%;
}

.main-container {
	margin-top: 0px;
	max-width: 100%;
}
.right {
	float: right;
}
.left {
	float: left;
}
img.left, a.left img {
	margin: 5px 10px 10px 0px;
}
.textcenter {
	text-align: center;
}
.textright {
	text-align: right;
}
.textleft {
	text-align: left;
}
/** MENU and HEADER ============================================================**=====================================================================================
===================================================================================================**/

.header-inner .Header #header-inner {
	overflow: hidden;
	width: 100% !important;
	position: relative;
	background-image: none !important;
}
.Header img, .Header #header-inner {
  	height: auto !important;
  	width: 100%;
}
.header-inner .Header .titlewrapper {
	padding: 0px 30px 0 !important;
}
/**logo**/
.Header h1 a, .Header h1 {
	text-align: center;
	color: #4C4848 !important;
}
.Header h1 a:hover {
	color: #fff !important;
  }
.Header h1 a:after {
	display: block;
}
#header-inner {
  	background-position: 0 -9px !important;
  	background-size: 100% !important;
}
.Header .description, #PageList1 {
	visibility: hidden !important;
	display: none !important;
}
div#___gcse_0 {
    visibility: hidden !important;
    margin: -47px;
}
/**code**=====================================================================================
===================================================================================================**/
code {
	overflow: scroll;
}
/** SIDEBAR ============================================================**=====================================================================================
===================================================================================================**/
/** SIDEBAR: PROFILE **/
.nd {
	background-color: #4D6979 !important;
}
#HTML2 {
	margin-top: 35px;
}
/** SIDEBAR: Category Labels **/ 
#Label1 select {
	width: 100% !important;
	height: 37px;
}
#socialicns a, #socialicns a:link, #socialicns a:visited, #socialicns a:active {
  	padding-right: 10px;
  	color: #033e62 !important;
}
/** SIDEBAR: SEARCH and SUBSCRIBE **=====================================================================================
===================================================================================================**/
#uds-searchControl .gsc-tabhActive {
    border-color: rgba(0, 0, 0, 0) !important;
    border-top-color: rgba(0, 0, 0, 0) !important;
    background-color: rgba(0, 0, 0, 0) !important;
    color: #1E4C5B !important;
    font-size: 20px !important;
    
    &:before {
	  	content: 'Search ';
	}
}
input.gsc-search-button {
	width: 60px;
    margin: 0;
    margin-left: 8px;
    border: 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    background: #000;
    color: #FFF;
    cursor: pointer;
    font-size: 13px;
    height: 26px;
    z-index: 0;
}
.FollowByEmail .follow-by-email-inner .follow-by-email-submit:hover {
	background: #BEE7ED;
}
input.gsc-input, .FollowByEmail .follow-by-email-inner input {
    padding: 10px !important;
    height: 14px !important;
    margin-left: 10px;
    border: 1px solid #CBC5C5 !important;
    width: 95% !important;
}
input.gsc-search-button, .FollowByEmail .follow-by-email-inner .follow-by-email-submit {
  	width: 95%;
    height: 22px;
    font-size: 13px;
    border: 1px inset #656E7F;
    background: #000 !important;
    text-transform: uppercase;
    margin-left: 10px;
    padding: 10px 15px 24px 15px !important;
    border-radius: 0px !important;
}
/**icon**/
.fa-flash:before, .fa-bolt:before {
    content: "\f0e7";
    opacity: .5;
    position: absolute;
    left: 112px;
    font-size: 5rem;
    margin-top: -66px;
    color: #094870;
}
input.gsc-search-button:before {
    font-family: 'atl-icons' !important;
    content: '\f117';
    font-size: 12px;
}
.BlogArchive #ArchiveList ul ul li {
	padding-left: 0;
}
div#CustomSearch1 {
    width: 42%;
    position: absolute;
    top: -37px;
    z-index: 100;
    right: -10px;
    max-width: 271px;
    
    input.gsc-input {
		width: 100% !important;
	}
}
/** CONTENT ===========================================================**=====================================================================================
===================================================================================================**/
.post-body .thumbnail {
    display: none;
	float: left;
    margin: 0 20px 0 0;
    max-width: 50% !important;
}
.post-body .excerpt {
    	display: none;
}
blockquote {
	font-size: 2rem;
	border: 5px solid #BEE7ED;
	background: #FFF;
	padding: 2rem 2rem 2rem 3rem;
	margin: 3rem 2.5rem;
	transition: all .5s ease;
	color: #41403E;
	font-size: 2rem;
	letter-spacing: 1px;
	outline: none;
	box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	border-bottom-right-radius: 225px 15px;
	border-bottom-left-radius: 15px 255px;
    	
    p {
		font-style: italic;
	}
}
img.nostyle, .nostyle img {
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
	border: 0px solid rgba(0, 0, 0, 0) !important;
}
.entry-content p a {
    text-decoration: underline;
}
.entry-content li p {
    margin: 0px;
}
img.topthumbnail {
	height: 0px !important;
	width: 0px !important;
	visibility: hidden;
    border: none !important;
    margin: 0px !important;
	display: none !important;
}
.post-body div.author {
    line-height: 15px;
    font-size: 11px !important;
    color: #5C5C5C;
}
.category {
	background: #656E7F;
	
	h4 {
	    line-height: 15px;
	    font-size: 11px !important;
	    color: #FFF;
	    margin: 0 0 0 10px;
	    text-shadow: 0px 1px 0px #000;
	    font-weight: 200;
	}
	h3 {
		text-align: center;
		font-size: 12pt !important;
	    margin: 0px;
	    font-style: normal;
	}
}
div#HTML10 {
	border: 1px solid #CCC;
	
	h2 {
	    text-align: center;
	    background: #656E7F;
	    color: #FFF !important;
	    text-shadow: 0px 1px 1px #000;
	    width: 100%;
	    padding: 10px 0;
	    margin: 0;
	}
}
h2.date-header {
	margin: 0 0 -13px 0;
	visibility: hidden;
	display: none;
}
.date-header span {
	color: #000;
}
.content-main {
    margin: 0 0 20px 0;
    flex-direction: row;
    justify-content: center;
	border: 1px solid #000;
	align-self: center;
	background: rgba(0, 0, 0, 0);
	transition: all .5s ease;
	color: #41403E;
	font-size: 2rem;
	letter-spacing: .2px;
	outline: none;
	box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	border-bottom-right-radius: 225px 15px;
	border-bottom-left-radius: 15px 255px;
	background: #F0F1F3 url('http://4.bp.blogspot.com/-z1BlXL6gSzg/VP46TT-6NHI/AAAAAAAAzek/3nAAGfsIp3w/s1600/light_wool.png');
	max-width: 100%;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    color: #fff !important;
}
.silly {
	margin: 15px 0 15px 0px;
    padding: 5px 0px 15px 15px;
    background: #F0F1F3 url('http://4.bp.blogspot.com/-z1BlXL6gSzg/VP46TT-6NHI/AAAAAAAAzek/3nAAGfsIp3w/s1600/light_wool.png');
	border: 2px solid #b0dbe1;
}
.status-msg-body a, .status-msg-body a:link, .status-msg-body a:visited { 
	color: #000; 
	text-decoration: underline;
}
/** Hide Profile on main page ================**=====================================================================================
===================================================================================================**/
#arrow-right a:after {
	width: 0;
    height: 0;
    border-style: solid;
    border-width: 5.5px 0 5.5px 8px;
    border-color: transparent transparent transparent #e8f3ff;
    content: ' '
}
/**button right***/
.btn-right {
	background: none;
  	border: 0;
  	font-size: 22px;
  	line-height: 2em;
	position: relative;
    height: 2em;
	padding-top: 0px;
	box-shadow: 0 0 0 0 transparent;	

	a {
	  	color: #fff !important;
	  	text-decoration: none;
	  	position: relative;
	  	z-index: 10;
	}
	a:hover {
		color:#eee !important
	}
}
.btn-right::before, .btn-right::after {
  	background: #043760;
  	border-radius: 2px;
  	content: '';
  	display: block;
  	position: absolute;
  	left: 0;
  	right: 0;
  	-webkit-transition: all 1s;
  	transition: all 1s;
  	height: 1em;
}
.btn-right::before {
    box-shadow: -1px 1px 0 #fbfbfb, -2px 2px 0 #ddd, -3px 3px 0 #777, -4px 4px 0 #aaa !important;
  	-webkit-transform: skew(45deg);
          transform: skew(45deg);
  	top: 0;
}
.btn-right::after {
  	box-shadow: 1px 1px 0 #1897c0, 2px 2px 0 #1897c0, 3px 3px 0 #1897c0, 4px 4px 0 #1897c0;
  	-webkit-transform: skew(-45deg);
          transform: skew(-45deg);
  	bottom: 0;
}
.btn-right:hover::before, .btn-right:hover::after {
  	background: #084674 !important;
}
.btn-right:focus {
  	outline: 0;
}
.btn-right:focus::before, .btn-right:focus::after {
  	background: #ddd !important;
}
/**arrow***=====================================================================================
===================================================================================================**/
.arrow-1 {
    animation: arrow-movement 2s ease-in-out infinite;
}
.arrow-2 {
    animation: arrow-movement 2s 0s ease-in-out infinite;
}
.arrow:before,
.arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px; 
    width: 12px;
    margin: 5px;
}
.arrow:before {
    transform: rotate(25deg) translateX(41%);
    transform-origin: top left;
}
.arrow:after {
    transform: rotate(-50deg) translateX(11%);
    transform-origin: top right;
}
// Animation
@keyframes arrow-movement {
  0%   { 
    opacity: 0;
    right: -15%;
  }
  70% {
    opacity: 1;
  }
  100% { 
    opacity: 0;
  }
}
#widget_bounds .Ul {
	background: #545252 !important;
}
.rightupper {
    width: 45%;
    float: left;
    margin: 0 0 10px 25px;
    letter-spacing: .2px !important;
    font-size: 9.3pt;

	article {
	    border-bottom: 1px solid #EEEDEE;
	    padding: 5px 5px 10px 5px;
	
		h1 {
		    color: #000;
		    line-height: 21px;
		    margin-top: 3px;
		}
		p {
		    line-height: 1.2 !important;
		    font-size: 10pt;
		}
		img {
		    float: left;
		    margin: 0;
		    padding: 0px;
		    opacity: 0.3;
		    width: 80px;
		    border: 0px solid #FFF !important;
		    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
		
			&:hover {
				opacity: 1;
			}
		}
	}
	.imgwrapper {
	    height: 84px;
	    overflow: hidden;
	    float: left;
	    margin-right: 10px;
	}
}
.boxheader {
    border: 1px solid #CCC;
    float: left;
    padding: 0px 0px 10px 0px;

	h1 {
	    margin: -20px 0 0 26px;
	    background: #FFF;
	    width: 218px;
	    padding: 5px 0 0 10px;
	}
}
ul.lineofarticles li {
    float: left;
    list-style: none;
    height: 100%;
    width: 180px;
    margin-left: 24px;
    min-height: 282px !important;
    
    img {
	    width: 180px;
	    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	    border: 0px solid #FFF !important;
	    vertical-align: middle;
	    background: #0032F9;
	
		&:hover {
			opacity: .8;
		}
	}
	.item-title {
	    color: #000;
	    line-height: 21px;
	    margin-top: 3px;
	}
}
.follow-by-email-inner td {
	width: 100%;
}
.highlight {
    box-shadow: 0 14px 34px 3px rgba(255, 241, 162, 0.35);
    width: 100%;
    height: 1px;
    background: #FFF1A2;
}
.caption { 
    font-size: 1.5rem !important;
    text-align: center;
    width: 100%;
}
.caption:before {
	content: 'Caption: ';
}
/** FOOTER **=====================================================================================
===================================================================================================**/
footer {
	width: 100%;
	padding: 0;
	margin: 0;
	
	a.right {
		margin-right: 20px;
	}
	.navbar {
		height: 6rem !important;
		padding: 0 !important;
		margin: 0px;
	}
	nav {
		background: #F0F1F3 url('http://4.bp.blogspot.com/-z1BlXL6gSzg/VP46TT-6NHI/AAAAAAAAzek/3nAAGfsIp3w/s1600/light_wool.png');
	}
}
.videoBar-container { 
	width: 100% !important; 
	
	tr { 
		float: left; 
		display: inline; 
	}
}
