/**defaults**/
.bg-3only { display:none; }

.bg-3 {

	div[role="complementary"] .desktopmenu, .main-container .row > .col-lg-3.col-sm-12.desktoponly, 
	.desktopmenu input { 
		display:none; 
	}
	.bg-3only { 
		display:block !important; 
	}
/**fonts**/ 
	a:visited, a:link, a {
	    text-decoration: underline;
	    color: #060f69;
	    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
	}
	.Header h1 a, .Header h1, 
	h3, h3.post-title, h3.post-title span, h3.post-title a span {
	    color: #393e5e !important;
	    text-decoration: none;
	}
	.jump-link a, .desktoponly .silly a {
	    text-decoration: none;
	    color: #fff;
	    font-weight: normal;
	}
	h3, h3.post-title, h3.post-title a, h3.post-title span, h3.post-title a span {
	    line-height: 1em;
	}
	.viewall .right, .viewall .left {
	    line-height: 1em !important;
	}
	.section-title h1, button a, button a:link, .jump-link, div#searchwrapper {
	    font-family: 'Cutive' !important;
	    font-size: 18px;
	    line-height: 18px;
	    text-transform: uppercase;
	    color: #fff;
	    letter-spacing: 0.45em;
	    font-weight: normal;
	}
	 button.btn-right, button.btn-right:before, button.btn-right:after {
	    background: rgba(0, 0, 0, 0) !important;
	    border: 0px solid rgba(0, 0, 0, 0);
	    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
	}
/**menu**/ 
	.desktoponly .silly {
	    margin: 0px 20px 15px 10px;
	    padding: 0px 20px 15px 20px;
	    background: rgba(0, 0, 0, 0);
	    border: 0 solid rgba(0, 0, 0, 0);
	    position: absolute;
	    top: 0px;
	    right: 0;
	    width: 60%;
	    z-index: 10002;
	    
	    a:hover {
		    color: #a5b5d0 !important;
		}
	}
	.desktopmenu p a, .desktoponly .silly .toggle-wrapper label {
	    color: #000 !important;
	    line-height: 3.5rem;
	    font-size: 2.3rem !important;
	    font-weight: bolder !important;
	    margin: 0 10px;
	}
	.desktopmenu .toggle-wrapper h3 {
	    color: #ccc !important;
	    text-align: center;
	    border-bottom: 1px solid #353333;
	    margin-bottom: 10px;
	}
	.desktoponly .silly .toggle-wrapper .toggle-wrapper {
	    float: left;
	    width: 77px !important;
	    overflow: visible;
	}
	.desktopmenu [id*='toggle']:checked ~ .toggle-inside {
	    width: 500px !important;
	    background: #444;
	    border: 1px solid #333;
	    padding: 5px 0;
	}
	.desktoponly .silly [id*='toggle']:checked ~ .toggle-inside ul {
	    padding: 0 20px 5px;
	}
	.desktoponly .silly [id*='toggle']:checked ~ .toggle-inside {
	    color: #fff;
	}
	.desktoponly .silly .toggle-wrapper label {
	    cursor: pointer;
	    margin: 5px 0 5px 0;
	}
	.desktoponly .silly .toggle-inside ul li {
	    list-style: none;
	    border: 0px solid rgba(0, 0, 0, 0);
	    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	    padding: 0 !important;
	}
	.desktoponly .silly [id*='toggle']:checked + label div:before {
	    content: ' ' !important;
	    text-align: left;
	    float: left;
	}
	.mbt-pager {
	    border-top: 2px solid #8593ab;
	    border-bottom: 2px solid #8593ab;
	}
/**pagination**/
	#Blog1 a#Blog1_blog-pager-newer-link:hover, #Blog1 a#Blog1_blog-pager-older-link:hover, 
	#Blog1 a#Blog1_blog-pager-newer-link:focus, #Blog1 a#Blog1_blog-pager-older-link:focus, 
	#Blog1 a#Blog1_blog-pager-newer-link:active, #Blog1 a#Blog1_blog-pager-older-link:active {
	    color: #000 !important;
	}
	.mbt-pager li.next:hover, .mbt-pager li.previous:hover {
	    background: #a5b5d0;
	}
/**logo**/
	.navbar-header {
	    padding: 0 45px;
	}
/**main content **/
	.post.hentry, .post.hentry {
	    padding: 0 5px;
	}
	.halfpurple {
	    background: rgba(33,16,40,0.42);
		background: -moz-linear-gradient(left, rgba(33,16,40,0.42) 0%, rgba(33,16,40,0.68) 45%, rgba(255,255,255,0.68) 45%, rgba(255,255,255,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(33,16,40,0.42)), color-stop(45%, rgba(33,16,40,0.68)), color-stop(45%, rgba(255,255,255,0.68)), color-stop(100%, rgba(255,255,255,1)));
		background: -webkit-linear-gradient(left, rgba(33,16,40,0.42) 0%, rgba(33,16,40,0.68) 45%, rgba(255,255,255,0.68) 45%, rgba(255,255,255,1) 100%);
		background: -o-linear-gradient(left, rgba(33,16,40,0.42) 0%, rgba(33,16,40,0.68) 45%, rgba(255,255,255,0.68) 45%, rgba(255,255,255,1) 100%);
		background: -ms-linear-gradient(left, rgba(33,16,40,0.42) 0%, rgba(33,16,40,0.68) 45%, rgba(255,255,255,0.68) 45%, rgba(255,255,255,1) 100%);
		background: linear-gradient(to right, rgba(33,16,40,0.42) 0%, rgba(33,16,40,0.68) 45%, rgba(255,255,255,0.68) 45%, rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#211028', endColorstr='#ffffff', GradientType=1 );
	}
	.main-container .row > .content-main[role='main'] {
	    width: 100%;
	}
	.content-main {
	    border: 0 solid rgba(0, 0, 0, 0);
	    background: rgba(0, 0, 0, 0);
	    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	    border-top: 1px solid #f1f1f1;
	    border-radius: 0 0 0 0;
	}
	.hover_img a button.lined.thin {
	    padding: 14px;
	}
	blockquote {
	    border: 5px solid #a5b5d0;
	    border-radius: 7px;
	}
/**buttons and view all page**/
	.button-wrapper button, .button-wrapper div.lined-thin {
	    padding: 0;
	}
	.button-wrapper button.lined.thin, .button-wrapper div.lined-thin,  button, a.button, button a, a:link.button, 
	 a:active.button, button a:active, a.button:hover, button a:hover{
	    color: #fff3de !important;
	}
	.section-title {
	    text-align: center;
	    border-bottom: 1px solid #231F20;
	    height: 35px;
	    margin-bottom: 70px;
	}
	.section-title h1, button a, button a:link, .jump-link {
	    border: 1px solid #fff;
	    display: inline-block;
	    padding: 16px 42px 10px;
	    background: #a5b5d0;
	    margin-bottom: -66px;
	}
	.viewallgrid li div, .viewallgrid li div a, .viewallgrid li div a:link {
	    background: transparent !important;
	}
	.viewallgrid li,
	.jump-link a,
	.button-wrapper button.lined.thin, .button-wrapper div.lined-thin, button, 
	a.button, a:link.button {
	    border: 3px solid #fff !important;
	    font-weight: normal;
	    background: #25112d !important;
	    border-left: 0 solid rgba(0, 0, 0, 0) !important;
	}
/**footer**/
	footer, .introwrapper {
	    background: #a5b5d0;
	    padding: 20px;
	    border-top: 1px solid #8c9ab1;
	}
	footer {
	    background: #a5b5d0;
	    
	    nav {
		    position: relative;
		    margin: -65px 10%;
		    float: left;
		    background: rgba(0, 0, 0, 0);
		}
	}
	.introwrapper {
	    background: #e4e9f1;
	}
	#searchwrapper .col-md-11 {
	    padding: 0;
	}
	div#searchwrapper {
	    margin: -33px 10px;
	    
	    &:before {
		    content: 'Search: ';
		    display: block;
		    font-weight: bolder;
		}
	}
	#searchwrapper input[value="Search"] {
	    background: #393e5e !important;
	    border-radius: 2px;
	    border: 1px solid #8c9ab1;
	    height: 44px;
	}
	.top {
	    position: fixed;
	    bottom: 8px;
	    right: 50px;
	}
}
/************************************************** Responsive **
********************************************************************************/
@media (min-width: 1200px) {
    /**icons**/
    .bg-3 .homeicons {
        margin: 10px 10%;
    }
}
@media (max-width: 1800px) {
    .bg-3 .content-main  {
        margin: 5px !important;
        padding: 10px;
    }
}
@media (max-width: 1200px) {
    .bg-3 footer a.right {
	    padding: 20px 30px;
	    border: 1px solid;
	    width: 100%;
	    text-align: center;
	    clear:both;
	    margin-right: 20px;
	    
	    &.last {
	    	margin-bottom: 50px;
	   	}
	}
}
