/**defaults**/
.bg-0only { display: none; }

.bg-0 {
	background:url('https://1.bp.blogspot.com/-jCDheUd40fs/V1y4c72n8WI/AAAAAAAA98o/4-q_D5cwESozU0LYPm1cvZa7EDqQmUs6gCLcB/s1600/bg2.png') #F0F1F3;
  	background-color:#BEE7ED!important;
  	color:#656E7F;
  	
	.bg-0only { 
		display: block !important; 
	}
	ul.mbt-pager{
		display:none;
	}
/***fonts***/
	a:visited,  a:link, a {
	    text-decoration: none;
		color: #2c9ab7;
	}
	a:focus, a:hover {
	 	text-decoration: underline;
	  	color: #195760 !important;
	}
	p {
		margin: 5px 0 10px;
	}
	h1, h2, h3, h4, h5 {
	  	font-family: 'PT Sans', 'PT Sans', 'Helvetica neue', Helvetica, 'Source Sans Pro', Helvetica, Arial;
		font-weight: bold;
	}
	h1 {
		margin: 10px 0;
	}
	h2, .entry-content h2, .entry-content h2 span {
	    font-size: 2rem;
		margin: 10px 0;
	}
	h3.post-title:hover, h3.post-title a:hover {
		color: #BEE7ED !important;
	}
	h3, h3.post-title, h3.post-title a, h3.post-title span, h3.post-title a span {
	    font-size: 14pt !important;
	    line-height: 1.5em !important;
	    max-width: 555px !important;
		font-style: italic;
	    text-transform: Capitalize;
		margin: 0;
	}
	h5 {
		font-size: 11pt;
		margin: 5px 0;
	}
	&body, .post-body div, .post-body span, .jump-link a, 
	a.home-link, a.home-link:visited, button, 
	.button, #blog-pager-older-link a, #blog-pager-newer-link a, #Label1 select {
	    font-size: 2rem;
		font-family: 'PT Sans', 'PT Sans', 'Helvetica neue', Helvetica, 'Source Sans Pro', Helvetica, Arial;
	}
	h2 span, h2 {
	    color: #000;
	}
	h2.date-header span {
		font-size: 11pt;
	    font-size: 12px;
	    font-weight: normal;
	}
	.georgia, a.georgia, .georgia a {
	    	background-color: white; 
		color: black; 
		font-family: georgia !important; 
		font-size: 20px; 
		font-weight: bold; 
		line-height: 30px; 
		outline: none; 
		text-decoration: none;
	}
	.section-title {
	    text-align: center;
	    border-bottom: 1px solid #231F20;
	    height: 35px;
	    margin-bottom: 70px;
	
		h1 {
		    border: 1px solid #fff;
		    display: inline-block;
		    padding: 16px 42px 10px;
		    background: #fff;
		    margin-bottom: -66px;
			text-transform: capitalize;
		    text-rendering: optimizelegibility;
		    margin-bottom: 60px;
		    font-family: 'Pacifico', cursive !important;
		    font-size: 4.5rem !important;
		    letter-spacing: .09375rem;
		    line-height: 4.4375rem;
		    color: #054d72;
		    font-weight: 400;
		    -webkit-font-smoothing: antialiased;
		    -khtml-font-smoothing: antialiased;
		    -apple-font-smoothing: antialiased;
		    font-smooth: always;
		}
	}
/**menu**/
	.silly{
		background: #F0F1F3 url('http://4.bp.blogspot.com/-z1BlXL6gSzg/VP46TT-6NHI/AAAAAAAAzek/3nAAGfsIp3w/s1600/light_wool.png');
		border:1px solid #B0DBE1;
		border-top-color:rgba(190,231,237,.93);
		box-shadow:0 4px 3px 0 #BEE7ED;
	}
	.center-circle {
		background-color:#E85C41;
	}
	header {
		background: #f0f1f3; 
		z-index: 0 !important;
	    border-bottom: 2px solid #90bcc8;
	
		&.navbar {
		  height: 54px !important;
		}
	}
	.content-main {
		border:2px solid #B0DBE1;
	}
/** footer **/
	footer.bs-docs-footer{
	    background: #fff;
	    padding: 10px;
	    border-top: 3px solid #b0dbe1;
	}
}
/************************************************** Responsive **
********************************************************************************/
@media (max-width: 1200px) {
    .bg-0 footer a.right {
	    padding: 20px 30px;
	    border: 1px solid;
	    width: 100%;
	    text-align: center;
	    clear:both;
	    margin-right: 20px;
	    
	    &.last {
	    	margin-bottom: 50px;
	   	}
	}
}