/**defaults**/
.bg-2 #___follow_0, .bg-2 .g-profile, .bg-2 #blog-pager #blog-pager-newer-link,
.bg-2 #blog-pager #blog-pager-older-link, .bg-2 #navbar ul .divider,
.bg-2 .center-circle,.bg-2 .post-labels2 {
    display:none;
}
.bg-2{
    background:#000;
}
/***fonts***/
.bg-2 a:visited,  .bg-2 a:link, .bg-2 a {
    	text-decoration: none;
	color: #2c9ab7;
}
.bg-2 a:focus, .bg-2 a:hover {
 	text-decoration: underline;
  	color: #195760 !important;
}
.bg-2 p {
	margin: 5px 0 10px;
}
.bg-2 h1, .bg-2 h2, .bg-2 h3, .bg-2 h4, .bg-2 h5 {
  	font-family: 'PT Sans', 'PT Sans', 'Helvetica neue', Helvetica, 'Source Sans Pro', Helvetica, Arial;
	font-weight: bold;
}
.bg-2 h1 {
    	font-size: 22px !important;
	margin: 10px 0;
}
.bg-2 h2, .bg-2 .entry-content h2, .bg-2 .entry-content h2 span {
    	font-size: 2rem;
	margin: 10px 0;
}
.bg-2 h3.post-title:hover, .bg-2 h3.post-title a:hover {
	color: #BEE7ED !important;
}
.bg-2 h3, .bg-2 h3.post-title, .bg-2 h3.post-title a, .bg-2 h3.post-title span, .bg-2 h3.post-title a span {
    	font-size: 14pt !important;
    	line-height: 1.5em !important;
    	max-width: 555px !important;
	font-style: italic;
    	text-transform: Capitalize;
	margin: 0;
}
.bg-2 h5 {
	font-size: 11pt;
	margin: 5px 0;
}
.bg-2 body, .bg-2 .post-body div, .bg-2 .post-body span, 
.bg-2 .jump-link a, .bg-2 a.home-link, .bg-2 a.home-link:visited, .bg-2 button, 
.bg-2 .button, .bg-2 #blog-pager-older-link a, .bg-2 #blog-pager-newer-link a, .bg-2 #Label1 select {
    	font-size: 2rem;
	font-family: 'PT Sans', 'PT Sans', 'Helvetica neue', Helvetica, 'Source Sans Pro', Helvetica, Arial;
}
.bg-2 h2 span, .bg-2 h2 {
    color: #000;
}
.bg-2 h2.date-header span {
	font-size: 11pt;
    font-size: 12px;
    font-weight: normal;
}
.bg-2 .georgia, .bg-2 a.georgia, .bg-2 .georgia a {
    	background-color: white; 
	color: black; 
	font-family: georgia !important; 
	font-size: 20px; 
	font-weight: bold; 
	line-height: 30px; 
	outline: none; 
	text-decoration: none;
}
.section-title {
    text-align: center;
    border-bottom: 1px solid #231F20;
    height: 35px;
    margin-bottom: 70px;
}
.section-title h1 {
    border: 1px solid #fff;
    display: inline-block;
    padding: 16px 42px 10px;
    background: #fff;
    margin-bottom: -66px;
	text-transform: capitalize;
    text-rendering: optimizelegibility;
    margin-bottom: 60px;
    font-family: 'Pacifico', cursive !important;
    font-size: 4.5rem !important;
    letter-spacing: .09375rem;
    line-height: 4.4375rem;
    color: #054d72;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -khtml-font-smoothing: antialiased;
    -apple-font-smoothing: antialiased;
    font-smooth: always;
}
/**bg stars**/
.bg-2 .showit{
    display:block!important;
}
/**menu**/
.bg-2 .silly,.bg-2 .silly a{
    border: 0px solid transparent; 
    background: #000;
    color:#fff;
}
.bg-2 .tips{
    border:1px solid #1897c0;
    background:#666;
}
.bg-2 aside .toggle-inside li{
    border-bottom:0 solid transparent;
    border-left:0 solid transparent;
    box-shadow:0 0 0 transparent;
}
.bg-2 .Header h1,.bg-2 .Header h1 a{
    font:22px/18px 'Lucida Grande','Lucida Sans Unicode',Helvetica,Arial,Verdana,sans-serif;
}
.bg-2 blockquote{
    border:5px solid #E3E3C7;
    background:#333;
}
.bg-2 .content-main {
    background:#555;
}
.bg-2,.bg-2 .Header h1,.bg-2 .Header h1 a,.bg-2 .content-main,.bg-2 a,
.bg-2 h1,.bg-2 h2,.bg-2 h2 span,.bg-2 p, 
.bg-2 .profile-datablock a, .bg-2 .profile-datablock a:link, .bg-2 .profile-datablock a:visited{
    color:#fff!important;
    font-family:'Lucida Grande',Helvetica,open-sans,sans-serif;
    font-weight:100;
}
.bg-2 .post a,.bg-2 .post a:hover{
    box-shadow:inset 0 -4px 0 #555;
}
.bg-2 #Label1 select,.bg-2 #blog-pager-newer-link a,
.bg-2 #blog-pager-older-link a,.bg-2 .button,.bg-2 .jump-link a,.bg-2 .mbt-pager li a span,
.bg-2 a.home-link,.bg-2 a.home-link:visited{
    border-radius:0;
    font-size:2rem;
    color:#fff !important;
    font-weight:400;
}
.bg-2 .jump-link a,.bg-2 a.home-link,.bg-2 a.home-link:visited{
    box-shadow:0 0 1px 1px #000;
}
.bg-2 .mbt-pager li.next:hover,.bg-2 .mbt-pager li.previous:hover, .bg-2 .primarybutton .lined {
    background: #000 !important;
}
.bg-2 .profile-data {
    background: #ccc;
    padding: 6px 10px;
}
.bg-2 a,.bg-2 a.button,.bg-2 a.button:hover,.bg-2 a:focus,.bg-2 a:hover,.bg-2 a:visited,
.bg-2 button,.bg-2 button a,.bg-2 button a:hover{
    color:#70bce2!important;
    text-decoration:none;
}
.bg-2 .alert{
    background-color:#f7c4a9;
}
.bg-2 .alert p{
    color:#333!important;
}
.bg-2 footer .navbar{
    color:#000;
    background:rgba(85,85,85,.81);
}
.bg-2 ul.dropdown-menutoggle{
    background:#000;
}
.bg-2 #navbar label div{
    background:#337AB7;
}
.bg-2 #navbar label div, .bg-2 .jump-link a, .bg-2 .jump-link a:link, 
.bg-2 .jump-link a:hover, .bg-2 a.home-link:hover, 
.bg-2 #blog-pager-older-link a:hover, .bg-2 #blog-pager-newer-link a:hover {
    border: 0;
    box-shadow: 0px 2px 1px #444141;
    background: #000;
}
.bg-2 .jump-link a:hover, .bg-2 .post a:hover {
    box-shadow: 0px 2px 1px #585555;
}
.bg-2 .jump-link a:visited, .bg-2 a.home-link, 
.bg-2 a.home-link:link, .bg-2 a.home-link:visited, 
.bg-2 .button, .bg-2 #blog-pager-older-link a, .bg-2 #blog-pager-older-link a:link, 
.bg-2 #blog-pager-older-link a:visited, .bg-2 #blog-pager-newer-link a, 
.bg-2 #blog-pager-newer-link a:link, .bg-2 #blog-pager-newer-link a:visited, 
.bg-2 #Label1 select {
    box-shadow: 0px 2px 1px #585555;
}
.bg-2 .introwrapper{
    background:0 0;border:0 solid transparent;
}
.bg-2 .main-container{
    margin-top:0!important;
}
.bg-2 .skywrapper .moon {
  height: 100px;
  width: 100px;
  margin: 50px auto;
  border-radius: 50%;
  box-shadow: inset -30px -18px 0px 0px #fdffde;
  transform-origin: 50% 50%;
  transition: all 1.5s ease-in-out;
}
/**** STARS***/
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}
.starstwinkle {
  background:#000 url('https://2.bp.blogspot.com/-QwKNvHkrizU/V13YNZIziZI/AAAAAAAA99U/cINO_Gp9q1M0NIAE6OlKWgcdayqJmKAGgCLcB/s1600/stars.png');
 /* z-index:0;*/
}

.twinkling{
  background:transparent url('https://1.bp.blogspot.com/-u2C1b8RFNe8/V13YNFvKOEI/AAAAAAAA99Q/vqirPi6plKcbUYJw6dSnaZTm-cCQ3wE6gCLcB/s1600/twinkling.png') repeat top center;


  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}
.showit {
  display:none;
}
.starstwinkle, .twinkling, .clouds {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}
.clouds{
    background:transparent url('https://4.bp.blogspot.com/-qIUWQ0B9j-g/V13YNR9ZRyI/AAAAAAAA99Y/NueGhkaJ8TQ9oEvihElPEq2N3UO_ZZaOwCLcB/s1600/clouds.png') repeat top center;


  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}
