/**defaults**/
.bg-1only {
	display: none;
}
.sun-burst {
	display:none;
}
.skywrapper {
	position: absolute;
    top: 0;
    right: 30px;
    z-index: 2;
}
.bg-1 {
	/*background-image:url(https://2.bp.blogspot.com/-R2Jw_Z2lXEc/V1sqJ5gYUwI/AAAAAAAA9sw/E8uGbBdlzswf2kpfLXGc1zYAeD499necACLcB/s1600/yellowdots.PNG);
	*/background-attachment:fixed;
	background-repeat:repeat;
	background-size:14%;
	background: #9ee3fb;

	.bg-1only, .togglehover_img a, .togglehover_img a{
	  	display:block !important;
	}
/***fonts***/
	a:visited,  a:link, a {
		text-decoration: none;
		color: #2c9ab7;
	}
	a:focus, a:hover {
	 	text-decoration: underline;
	  	color: #195760 !important;
	}
	p {
		margin: 5px 0 10px;
	}
	h1, h2, h3, h4, h5 {
	  	font-family: 'PT Sans', 'PT Sans', 'Helvetica neue', Helvetica, 'Source Sans Pro', Helvetica, Arial;
		font-weight: bold;
	}
	h1 {
		margin: 10px 0;
	}
	h2, .entry-content h2, .entry-content h2 span {
	    font-size: 2rem;
		margin: 10px 0;
	}
	h2 span, h2 {
	    color: #000;
	}
	h2.date-header span {
		font-size: 11pt;
	    font-size: 12px;
	    font-weight: normal;
	}
	h3.post-title:hover, h3.post-title a:hover {
		color: #BEE7ED !important;
	}
	h3, h3.post-title, h3.post-title a, h3.post-title span, h3.post-title a span {
	    font-size: 14pt !important;
	    line-height: 1.5em !important;
	    max-width: 555px !important;
		font-style: italic;
	    text-transform: Capitalize;
		margin: 0;
	}
	h5 {
		font-size: 11pt;
		margin: 5px 0;
	}
	&body, .post-body div, .post-body span, .jump-link a, a.home-link, 
	a.home-link:visited, button, .button, #blog-pager-older-link a, 
	#blog-pager-newer-link a, #Label1 select {
	    font-size: 2rem;
		font-family: 'PT Sans', 'PT Sans', 'Helvetica neue', Helvetica, 'Source Sans Pro', Helvetica, Arial;
	}
	.georgia, a.georgia, .georgia a {
	    	background-color: white; 
		color: black; 
		font-family: georgia !important; 
		font-size: 20px; 
		font-weight: bold; 
		line-height: 30px; 
		outline: none; 
		text-decoration: none;
	}
	.section-title {
	    text-align: center;
	    border-bottom: 1px solid #231F20;
	    height: 35px;
	    margin-bottom: 70px;
	}
	.section-title h1 {
	    border: 1px solid #fff;
	    display: inline-block;
	    padding: 16px 42px 10px;
	    background: #fff;
	    margin-bottom: -66px;
		text-transform: capitalize;
	    text-rendering: optimizelegibility;
	    margin-bottom: 60px;
	    font-family: 'Pacifico', cursive !important;
	    font-size: 4.5rem !important;
	    letter-spacing: .09375rem;
	    line-height: 4.4375rem;
	    color: #054d72;
	    font-weight: 400;
	    -webkit-font-smoothing: antialiased;
	    -khtml-font-smoothing: antialiased;
	    -apple-font-smoothing: antialiased;
	    font-smooth: always;
	}
	blockquote{
	  	border:5px solid #89C6DB;
	  	box-shadow:0 0 0 0 transparent;
	}
/**Search**/
	#blog-pager, footer .nav .col-md-9 #searchwrapper, footer p{
	  	display:none;
	}
/**main**/
	.post a,.post a:hover{
	  	box-shadow:inset 0 0 0 transparent;
	}
	a:active,a:focus,a:hover{
	  	color:#014875!important;
	}
	a:visited{
	  	text-decoration:none;
	  	color:#2b5c6c!important;
	}
/**Buttons**/
	a, a.button, a.button:hover, button, button a, button a:hover{
	  	text-decoration:none;
	  	color:#057596!important;
	}
	.primarybutton .lined {
	  	background: #e2c448 !important;
	}
	.btn-right::before, .btn-right::after {
	  	background: #e1c348;
	}
	.jump-link a, .jump-link a:link {
	    background: #ffdf6d !important;
	    color: #000 !important;
	    border: 1px solid #e1c348;
	    box-shadow: 1px 1px 1px 1px #e1c348 !important;
	    padding: 5px 0;
	}
	.jump-link a:hover {
	    background: #eacc51 !important;
	    color: #000 !important;
	    border: 1px solid #e1c348;
	    box-shadow: 1px 1px 1px 0px #d4b63e !important;
	}
/**Pagination**/
	.mbt-pager a, .mbt-pager a:link, .mbt-pager a:visited, .mbt-pager i,
	.mbt-pager li a strong, .mbt-pager li a:link strong, .mbt-pager li a:visited strong {
		color: #000 !important;	
	}
/**Nav**/
	aside .toggle-inside li {
	    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	    border: 0px solid rgba(0, 0, 0, 0);
	}
	#navbar label div {
	  	background:#000!important;
	}
	.center-circle {
	  	background-color:#057596;
	}
	.top a {
		padding:27px 15px!important;
		border-radius:43px!important;
		background:#fff!important;
	}
	nav.nav.navbar-nav.navbar.navbar-fixed-bottom {
	  	background:0 0;
	}
	.content-main {
		border: 1px solid #a1e3f7!important;
		border-radius: 0!important;
		background: #f7ffff;
		box-shadow: -21px 39px 34px -26px rgba(0, 0, 0, 0.2);
		background: -webkit-linear-gradient(left, #c8f1ff 0%, rgba(208, 234, 243, 0.46) 100%);
		background: linear-gradient(to left, rgba(208, 234, 243, 0.46) 0%, #c8f1ff 100%);
	}
	.silly{
	  	border: 1px solid rgba(225, 195, 72, 0.34);
	  	padding: 12px 5px;
	  	background: -webkit-linear-gradient(top, #d1f5ff 0%, #ffdf6d 100%);
	  	background: linear-gradient(to bottom, #d1f5ff 0%, #e1c348 100%);
	  	padding: 0 13px;
	}
	.main-container {
	  	margin-top:10px!important;
	}
	.showit, .sun-burst {
		display: block;
	}
	.clouds {
		height:539px;
	  	background: rgba(0, 0, 0, 0) url('https://4.bp.blogspot.com/-Yu1k0aSJPpo/V2YfSYmaThI/AAAAAAAA-G8/pfjRoxGL8qMVnBbN2v_xYQZgUWzIkChOACLcB/s1600/cloudscolor.png') repeat top center !important;
	}
	.starstwinkle, .twinkling {
		display: none;
	}
	.sun-burst {
		width: 100px;
		height: 100px;
		position: absolute;
		background-color: rgba(255, 204, 51, 0);
		right: 0;
		top: 25%;
		box-shadow: 0 0 77px 22px #fc3;
		border-radius: 50%;
		transition: opacity 3s ease-in-out;
		transform-origin: top;
		transition-delay: 10s;
		opacity: 0.7;
	}
	.skywrapper .moon {
		height: 100px;
		width: 100px;
		margin: 50px auto;
		border-radius: 50%;
		transform-origin: 50% 50%;
		transition: all 1.5s ease-in-out;
		transform: rotate(360deg);
		box-shadow: inset 100px 100px 0px 70px #fff0af;
		border: 3px solid #fdd63a;
	}
}
